section{
	width: 50%;
}
#wrapper{
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10%;
}
p{
	margin: 1em 1em;
	font-color: white;
	font-family: 'Lato', sans-serif; font-weight: 300;
	text-align: left;
}
div.fl{
	float: right;
}
div {
	display: block;
}
ul{
	margin-top: 0em;
}
body {
	background: #232323 url("../img/1-yourself.jpg");
	background-size: cover;
	background-color: #232323;
	color: #C9C9C9; text-shadow: black 0.1em 0.1em 0.2em;
}
nav li{
	display: inline-block;
	display: left; 
	padding: 0 2em 0 2em;
	color: white; text-shadow: black 0.1em 0.1em 0.2em;
	font-family: 'Lato', sans-serif; font-weight:300;
	font-size: 1em;
	font-style: normal;
}
nav ul li a{
	color: yellow;
	margin: 1em;
}
nav ul li a:hover{
	color:white;
}
.introP p{
	font-size: 1.2em;
}
.worklink a{
	text-decoration: none;
	color: #C9C9C9;
	font-style: italic;
  	transition: all 0.3s ease;
}
.worklink a:hover{
		color:yellow;
}
a { 
	text-decoration: none;
	color: white;
	font-style: italic;
  	transition: all 0.3s ease;
}
a:hover{
	color:yellow;
}
h1{
	color: white; text-shadow: black 0.1em 0.1em 0.2em;
	font-family: 'Lato', sans-serif;
	text-align: right;
	margin-bottom: 0em;
	font-size: 3em;
	transition: all 0.3s ease;
}
h2{
	font-family: 'Lato', sans-serif; font-weight:300;
	color: #C9C9C9; text-shadow: black 0.1em 0.1em 0.2em;
	text-align: right;
	margin-top: 0em; 
	margin-bottom: .2em;
	font-size: 2.5em;
	transition: all 0.3s ease;
}
h3{
	font-family: 'Lato', sans-serif; font-weight:400;
	color: yellow; text-shadow: black 0.1em 0.1em 0.2em;
	margin-top: 1em; 
	margin-bottom: 1em;
	width: 50%
}
h4{
	font-family: 'Lato', sans-serif; font-weight:300;
	color: white;
	font-size: 1em;
	text-align: left;
	margin-bottom: .1em;
	width: 100%
}
li{
	font-family: 'Lato', sans-serif; font-weight:300;
	color: #C9C9C9;
	font-size: .8em;
	font-style: italic;
	text-align: left;
	margin-left: 2%;
	text-decoration: none;
}
footer{
	float: left;
	position: absolute; bottom:0;
}
.sidebar {
	background: #232323;
	color: #47495d;
	padding: 1em 0 .1em 0;
	text-align: center;
	border-radius: 0 0 20px 20px;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
aside {
	width: 80%;
	margin: 0% 10%;
}